/*Referente ao cabeçalho*/
header{
    cursor: default;
    padding: 30px;
    background-color: azure;
}

#Logo{
    width: 150px;
    height: 150px;
    top:50%; 
    left:3%;
    display: flex;
    align-items: center;
}

#Title, .titulo{
    font-weight: bolder;
    text-align: justify;
    text-align: center;

}
.Navegacao{
    justify-content:end;
}

/*Referente ao corpo*/
body{
    background: rgb(49, 49, 49);
}
main{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.secoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.texto {
    position: relative;
}

#Marca{
    flex-basis: 50%;
    position: relative;
    height: 700px;
    background-image: url(./imgs/capa.png);
}

.overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}

a {
    text-decoration: none;
}

.titulo{
    font-size: 3rem;
    text-align: end;
    color: rgb(255, 255, 255);

}
.noticia{
    position: relative;
    color: rgb(200, 219, 216);
    width: 47%;
    left: 10%;
    margin-top: 5em;
}

#Advice{
    flex-direction: column;
    justify-content: center;
    background-color: #87CEEB;

}
#Advice .titulo{
    margin:20px 0 10px;
    text-align: center;
}
/*Quem Somos*/
#QuemSomos{
    height: auto;
}
#QuemSomos #TitleBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 75, 4);
    padding: 30px;
    text-align: start;
    margin: 0;
    
}

.noticia {
    color: white;
}

/*background-image: url(./imgs/Logo.png) ;*/

#QuemSomos #QuemSomosText p{
    color:rgb(102, 156, 102);
    font-size: 1.5rem;
    padding: 10px 5px 5px 20px;
}
#Anunciantes{
    height: 100%;
    margin-bottom: 5%;
    width: 100%;
    margin: auto;
}

.anunciante{
    height: 200px;
    width: 200px;
}
#maisAnunciantes{
    display: none;
}
#MostrarAnunciantes:active{
    background-color: white;
    color: aquamarine;
}
/*Referente ao rodapé*/
footer{
    display: flex;
    align-items: center;
    color:antiquewhite;
    background:rgb(115, 163, 115);
}

.subtitulo {
    color: rgb(255, 255, 255);
}

.h2 {
    text-shadow: 1px 1px 2px black;
}

.col-3 {
    background-image: linear-gradient(to bottom, green, rgb(3, 169, 3), rgb(5, 173, 5))
}

.col-9 {
    padding: 1.25em;
    text-align: justify;
    background-image: linear-gradient(to right, rgb(74, 99, 116), rgb(85, 118, 141), rgb(60, 93, 115));
}



.col {
    margin: 53px;
}

